<!DOCTYPE html>
<html lang="en">
    <%- include('../public/layouts/header'); -%>
    <body>
        <%- include('../public/layouts/nav'); -%>
       
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1><%= blogpost.title %></h1>
                            <h2 class="subheading"><%= blogpost.subtitle %></h2>
                            <span class="meta">
                                Posted by : 
                                <a href="#!"><%= blogpost.username %></a>
                            <hr>
                                <%= blogpost.date %>
                                <hr>
                                
                                
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p><%- blogpost.body  %></p>
                        <hr>

                        <% for (var i = 0; i < comments.length; i++) { %>
                        <div class="post-preview">
                        <h3 class="post-subtitle"><%= comments[i].username %></h3>
                        <p class="post-meta" > <%= comments[i].message %> </p>
                    </div>
                    <hr class="my-4" />
                    <% } %>

                        <!-- TODO : load 5 comment with pagination -->
                        <form action= <%= `/comment/${id}` %> method="POST">
                        <div id="comment">
                            <div class="form-floating">
                                <textarea class="form-control" id="message" placeholder="Enter your message here..." name = "message"  ></textarea>
                                <label for="message">leave a comment</label>
                                <!-- <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div> -->
                            </div>
                            <br />
                        </div>
                        <!-- <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href= <%= `/comment/${id}` %>>leave a comment</a></div>  -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"
                            id="sendMessageButton">LEAVE A COMMENT</button>
                            </div>
                        </form>                           
                    </div>
                </div>
            </div>
        </article>
        <!-- Footer-->
        <%- include('../public/layouts/footer'); -%>
        <%- include('../public/layouts/script'); -%>
    </body>
</html>
